<h1>List of Movies</h1>

<%= form_tag(movies_path, method: :get) do %>
  <%= text_field_tag :actor_search, params[:actor_search], placeholder: "Search actor" %>
  <%= submit_tag "Search" %>
<% end %>

<% if @movies.any? %>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Year</th>
        <th>Director</th>
        <th>Actors</th>
        <th>Filming Location</th>
        <th>Country</th>
        <th>Average Stars</th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.title %></td>
          <td><%= movie.description %></td>
          <td><%= movie.year %></td>
          <td><%= movie.director %></td>
          <td>
            <ul>
              <% movie.actors.each do |actor| %>
                <li><%= actor.name %></li>
              <% end %>
            </ul>
          </td>
          <td><%= movie.filming_location %></td>
          <td><%= movie.country %></td>
          <td><%= movie.average_rating %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No movies found.</p>
<% end %>
